body {
    margin: 0;
    font-family: Segoe UI;
}

.headline {
    display: flex;
    align-items: center;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 33px -15px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 5px 33px -15px rgba(0,0,0,0.9);
    box-shadow: 0px 5px 33px -15px rgba(0,0,0,0.5);
}

.headline h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.logo {
    width: 250px;
}

.flag {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.content {
    display: flex;
    height: 100vh;
}

.restaurant_banner {
    width: 100%;
    display: flex;
    flex-direction: column;    
}

.img_banner {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.sidebar {
    min-width: 360px;
    max-width: 400px;
    text-align: center;
}

.restaurant_info {
    width: 100%;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  
}

.restaurant_title {
    position: relative;
    padding: 20px 60px;
}

.restaurant_title h1, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.image_bar {
    height: 90px;
    width: 70px;
    object-fit: cover;
    position: absolute;
    top: -75px;
    border-radius: 8px;
    border: 1px solid white;
}

.dish_name {
    border: 1px solid rgb(219,217,215);
    margin-bottom: 30px;
    padding: 15px;
    overflow: hidden;
    word-wrap: break-word;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.dish_name:hover {
    background-color: rgba(201, 198, 198, 0.1);
}

.menu {
    width: 90%;
    max-width: 1440px;
    margin-top: 30px;
}

.menu h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.menu p {
    margin-block-start: 0;
    margin-left: 20px;
    font-size: 18px;
}

.menu img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin: 30px 0;    
}

.max_width_1440 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252,252,252);
    -webkit-box-shadow: inset -2px 0px 5px 1px rgba(0,0,0,0.18);
    -moz-box-shadow: inset -2px 0px 5px 1px rgba(0,0,0,0.18);
    box-shadow: inset -2px 0px 5px 1px rgba(0,0,0,0.18);    
}

.totale_price h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.total_sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.totale_price button {
    margin-top: 20px;
    padding: 10px 90px;
    background-color:  rgb(243,104,5);
    border: 0;
    font-size: 18px;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}

.totale_price button:hover {
    background-color:  rgb(241, 127, 45);
}

.basket_content {
    margin: 20px;   
}
.basket {
    position: fixed; 
    min-width: 360px;
    max-width: 400px;
}

.dish_basket_name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.controls input {
    width: 20px;
    text-align: center;
}

.product_name {
    font-weight: bold;
    font-size: 20px;    
}

.product_info {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_price {
    font-weight: bold;
    font-size: 20px;
}

.add_product {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 0;
    font-size: 28px;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls button {
    border: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
}

.controls button:hover {
    background-color: rgba(201, 198, 198, 0.1);
}

.trash {
    height: 24px;
    cursor: pointer;
}

.basket_dish_name {
    display: flex;
    gap: 20px 
}

.quantity {
    font-weight: bold;    
}

.basket_name {
    font-weight: bold;
    text-decoration: underline;
}

.hidden_div {
    display: none;
    text-align: center;
}

.footer {
    width: 100%;
    padding-top: 120px;
    padding-right: 360px;    
    background-color: black;
    max-width: 100%;
}
@media (max-width: 850px) {
    .sidebar {
        display: none;
    }
    .hidden_div {
        display: initial;
    }
    .footer{
        padding-right: 0;
    }

}